<%= render 'shared/errors', obj: @post%>

<div class= 'well'>
  <%= form_for @post do |f| %>
    <div class='control-group'>
      <%=  f.label :title  %>
      <%=  f.text_field :title %>
    </div>
    
    <p>
      <div class='control-group'>
        <%= f.label :url %>
        <%=  f.text_field :url %>
      </div>
    </p>
    
    <div class='control-group'>
      <%= f.label :description %>
      <%= f.text_area :description, rows:5%>
    </div>
<br/>

<br>

<p>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
    <% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text}%> 
  <% end %>
</p>

<br>
<%= f.submit %>
  <% end %>
  
</div>


<!-- 
 <%= select_tag 'post[category_ids]', options_for_select(Category.all.collect{|category| [category.name, category.id]}), {:multiple=>true}%>
 
 -->