<% if !logged_in?%>
  <div class='span0 well text-center'>
    <%=link_to "Vote", root_path(error:"Must be logged in to vote") %>
  </div>

<% elsif voteable_type == 'comment' %>
  <div class='span0 well text-center'>
    <%=link_to vote_post_comment_path(comment.post,comment,vote: true), method: 'post'  do %>
      <i class='icon-arrow-up'></i></br>
    <% end %>
    <%= obj.total_votes %> Votes</br>
    <%=link_to vote_post_comment_path(comment.post,comment,vote: false), method: 'post' do %>  
      <i class='icon-arrow-down'></i>
    <% end %>
  </div>

  <% elsif voteable_type ==  'post' %>

  <% if post.votes.where(user_id:current_user).exists? %>
    <div class='span0 well text-center'>
      <%= post.total_votes %> votes </br>
      <%= link_to "Unvote",unvote_post_path(post), method: 'delete' %>
        </div>
  <% else %>
    <div class='span0 well text-center'>

      <%=link_to vote_post_path(post,vote: true), method: 'post'  do %>
        <i class='icon-arrow-up'></i></br>
      <% end %>
          <%= obj.total_votes %> Votes</br>
      <%=link_to vote_post_path(post,vote: false), method: 'post' do %>  
        <i class='icon-arrow-down'></i>
      <% end %>
    </div>
  <% end %>

<% end %>



