<% if @post.creator == current_user %>
  <p class='pull-right'> 
    [<%= link_to 'edit this post', edit_post_path(@post) %>]
  <p>
<% end %>

<%= render @post.categories%></p>

<p>
  <%= render 'shared/content_title', title: @post.title%>
</p>


  <%= render 'post', post: @post %>
<hr width='85%'>
<h4>Comments</h4>
<%= render 'shared/errors', obj:@comment %>

<% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <div class='control-group'>
      <%= f.text_area :body, rows:5, class:'span10'%>  
    </div>
      <%= f.submit 'submit'%>
  <% end %>
<% end %>

<% @post.comments.each do |comment| %>

<%= render 'comment', comment: comment%>
<% end %>

