<p class='pull-right'> [<%= link_to 'edit this post', edit_post_path(@post) %>]

<p>
  <%= render @post.categories%>
</p>

<p>
  <%= render 'shared/content_title', title: @post.title%>
</p>


<div class ='row'>
  <div class='span8 well'>

    <p> 
      <%= @post.description%> 
    </p>

    <p>
      <%= render '/shared/creator', name: @post.creator.username, time: display_datetime(@post.created_at) %>
    </p>

  </div>
</div>

<%= render 'shared/errors', obj:@comment %>
<%= form_for [@post, @comment] do |f| %>
  <div class='control-group'>
    <%= f.text_area :body, rows:5 %>  
  </div>
    <%= f.submit 'comment' %>
<% end %>


  <% @post.comments.each do |comment| %>

<div class = 'well'>
    <ul> <%= comment.body %> </ul>
</div>
  <% end %>


