
<%=render 'shared/content_title', title: @post.title %>
<p><%=render @post.categories %>
</p>


<div class = 'well'>
	<%=@post.description %>
	<small>
		<p>
		<span class= 'quiet'> By <%= @post.creator.username %> </span>
		</p>
	</small>
</div>
<div class = 'well'>
	<%@post.comments.each_with_index do |comment,i| %>
		<p>
		<%=render 'shared/creator', name: comment.creator.username, time: comment.created_at %>
		</p>
	<div class='well well-sm'>
		<%= comment.body %>

	</div>
	<%end%>
</div>

