<p class='pull-right'> [<%= link_to 'edit this post', edit_post_path(@post) %>]

<p>
  <%= render @post.categories%>
</p>

<p>
  <%= render 'shared/content_title', title: @post.title%>
</p>


<div class ='row'>
  <div class='span8 well'>

    <p> 
      <%= @post.description%> 
    </p>

    <p>
      <%= render '/shared/creator', name: @post.creator.username, time: @post.created_at %>
    </p>

  </div>
</div>


<!-- 
<p><h4>Comments</h4></p>
<hr>
<% @post.comments.each do |comment| %>
<div class='span8 well'>
<p>
<%= comment.body %>
</p>
<%= render 'shared/creator', name: comment.creator.username, time: comment.created_at %>
</div>
<% end %>
 -->