<% if logged_in? %>
<% if @post.creator.username == current_user %>
<p class='pull-right'> [<%= link_to 'edit this post', edit_post_path(@post) %>]

<p>
<% end %>
<% end %>

  <%= render @post.categories%>
</p>

<p>
  <%= render 'shared/content_title', title: @post.title%>
</p>


<div class ='row'>
  <div class='span8 well'>

    <p> 
      <%= @post.description%> 
    </p>

    <p>
      <%= render '/shared/creator', name: link_to(@post.creator.username, user_path(@post.creator.id)), time: display_datetime(@post.created_at) %>
    </p>

  </div>
</div>

<%= render 'shared/errors', obj:@comment %>

<% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <div class='control-group'>
      <%= f.text_area :body, rows:5 %>  
    </div>
      <%= f.submit 'comment' %>
  <% end %>
<% end %>

<% @post.comments.each do |comment| %>
<%= render 'comment', comment: comment, link:''%>
<% end %>